@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color:#E0E1DD;
    --medium-color:#cdcecc;
    --dark-color:#b9b9b8;
    --heading-color:#1B263B;
    --body-color:#415A77;
    --link-color:#0283c8;
}

body {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
    font-size: 18px;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--light-color);
    grid-template-areas: "head  head"
                         "nav  nav"
                         "main  main"
                         "foot  foot";
    display: grid;
    grid-template-columns: 2fr 12fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 24em) {
    body {
        grid-template-areas: "head  head"
                             "nav   main"
                             "foot  foot";
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > header {
    grid-area: head;
}
body > nav {
    background-color: var(--medium-color);
    grid-area: nav;
}
body > nav ul {
    list-style-type: none;
    padding: 0;
}
body > nav ul li {
    display: inline;
    padding-right: 1rem;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: foot;
}
header, footer {
    background-color: var(--dark-color);
    padding-top: var(--vertical-space);
    padding-bottom: var(--horizontal-space);
}
header h1, footer h1 {
    margin: 0;
}

h1, h2, h3 {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: var(--heading-color);
}

body#resume h2 {
    margin-left: 1rem;
}
body#resume h3 {
    margin-left: 2rem;
}
body#resume div, li {
    margin-left: 2rem;
}

p {
    max-width: 50em;
}

a {
    color: var(--body-color);
    text-decoration-color: var(--link-color);
}
a:hover {
    color: var(--link-color);
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width: 24em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}
body#portfolio ul#portfolioItems li img {
    max-height: 15rem;
}

body#about img {height: 15em;}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--medium-color);
    color: var(--body-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#topBtn:hover {
    color: var(--link-color);
}